<!DOCTYPE html>

<html>

<head>
     <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
      {{>header}}
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
      <p>{{helpText}}</p>
      <p>Email : riyabhardwaj1272@gmail.com</p>
       <a href="https://www.linkedin.com/in/riya-bhardwaj-aa7508180/">Linkedin: </a>
    </div>
    
    {{>footer}}

</body>

</html>